{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-8 main-chart">
            {{ form_start(form) }}
                Name : {{ form_widget(form.name, {'attr': {'class': 'form-control','placeholder':'Type the title'}}) }}
            {{ form_end(form) }}
            </div>
        </div>
    </section>
    </section>>

{% endblock %}