<a href="{{ path("index") }}" style="z-index:10;position:absolute;top:0%;left:0%"><img width=100% height="auto" src="{{ asset("capture.png") }}"></a>
<img src="{{ asset("Admin/img/Access-Denied.jpg") }}" height="100%" width="100%" alt="">