<a href="{{ path("index") }}" style="z-index:10;position:absolute;top:76%;left:40%"><img width=100% height="auto" src="{{ asset("capture.png") }}"></a>
<img src="{{ asset("404.gif") }}" height="100%" width="100%" alt="">